body{
    margin:0;
}

.homeHidden{
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-color: #F4E7D5;
    font-family: sans-serif;
    display: none;
}

.homeHidden main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.homeHidden .scoreboard{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-bottom: 20px;
    overflow-y: scroll;
    height: 48px;
    max-height: 55vh;
    scrollbar-width: none;
}

.homeHidden .scoreboard::-webkit-scrollbar {
    display: none;
    }

    .homeHidden .scoreboard>div:first-child{
    width: -webkit-fill-available;
    width: -moz-available;
    position: fixed;
    top: -1px;
    background-color: #BFA38A;
}

.homeHidden .scoreboard>div:nth-child(2){
    margin-top: 48px;
}

.homeHidden .scoreboard>div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 15px;
}

.homeHidden .item:nth-child(2n + 1){
    background-color: #FFF1DE;  
}

.homeHidden button{
    cursor: pointer;
    display: block;
    margin: auto;
    padding: 15px 30px;
    border-radius: 5px;
    border: none;
    background-color: #fdcb6e;
    font-weight: bolder;
}


.homeHidden span{
    font-size: medium;
}

#home2Vue{
    display: none;
}