body{
    margin : 0;
}

.logHidden{
    margin: 0;
    overflow: hidden;
    height: 100vh;
    background-color: #F4E7D5;
    font-family: sans-serif;
}   

.logHidden .Login{
    height: 100%;
    width: 100%;
}

.logHidden main{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-content: center;
    height: 100%;
    align-items: center;
}
        

.logHidden .form{
    transition: .5s;
    transition-timing-function: ease-in-out;
    display: flex;
    flex-direction: column;
    background-color: #BFA38A;
    border-radius: 10px;
    padding: 32px;
    width: 20%;
    min-width: 300px;
}

.logHidden .form:nth-child(2){
    opacity: 0;
}

.logHidden .form>h3{
    font-size: 24px;
    color: black;
    text-align: center;
    margin: 0;
    margin-bottom: 32px;
}            

.logHidden .form>label{
    font-size: 14px;
    color: black;
    margin-bottom: 8px;
}

.logHidden .form>input{
    height: 40px;
    background-color: #F4E7D5;
    border: none;
    border-radius: 5px;
    margin-bottom: 24px;
    padding: 0 16px;
    font-size: 16px;
    color: white;
}

.logHidden .form>.primary-action{
    background-color: #fdcb6e;
    height: 40px;
    text-align: center;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-top: 16px;
}
        

.logHidden .switch-side{
    background-image: url("../img/dameGame.jpg");
    transform: translate(50%);
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: right;
    height: 100%;
    width: 50%;
    transition: .5s;
    transition-timing-function: ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logHidden .switch-side>div{
    height: fit-content;
}
.logHidden .switch-side>div>.goToSignIn{
    display: none;
}

.logHidden .switch-side>div>button{
    background-color: transparent;
    padding: 10px;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, .4);
    color: black;
    border-radius: 10px;
    width: 300px;
    height: 40px;
    font-size: 16px;
}

.logHidden .switch-side>div>img{
    margin-bottom: 64px;
}

.logHidden .switch-bar{
    display: none;
}

@media screen and (max-width:1024px) {
    .logHidden .switch-side{
        display: none;
    }

    .logHidden .switch-bar{
        font-size: 20px;
        margin: 20px;
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .logHidden .switch-bar>span:first-child{
        text-decoration: underline;
    }

    .logHidden .form{
        opacity: 1 !important;
    }

    .logHidden .form:nth-child(2){
        display: none;
    }
}